Repository ethereum/evmone: changes, and which Codecov flags are due for each by the changed paths.
All: core, tooling, tests

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "diff, flags, components, files"

component_management:
  individual_components:
    - component_id: core
      name: core
      # Consensus critical EVM implementation.
      paths:
        - include/**
        - lib/**
        - test/state/**
    - component_id: tooling
      name: tooling
      # Code related to CLI tools, including many testing tools.
      paths:
        - test/bench/**
        - test/blockchaintest/**
        - test/eofparse/**
        - test/eoftest/**
        - test/statetest/**
        - test/t8n/**
        - test/utils/**
    - component_id: tests
      name: tests
      # Internal tests, fuzzers, and benchmarks.
      paths:
        - test/eofparsefuzz/**
        - test/experimental/**
        - test/fuzzer/**
        - test/integration/**
        - test/internal_benchmarks/**
        - test/precompiles_bench/**
        - test/unittests/**

ci: Configure codecov components (#1280)
  codecov.yml
Due: none

Expose GAS_PER_BLOB constant
  test/state/transaction.hpp
  test/unittests/state_transition_tx_test.cpp
  test/unittests/state_transition_txcreate_test.cpp
Due: core, tests

Expose GAS_PER_BLOB constant (#1282)
  test/state/transaction.hpp
  test/unittests/state_transition_tx_test.cpp
  test/unittests/state_transition_txcreate_test.cpp
Due: core, tests

Introduce BlobSchedule (EIP-7840)
  test/state/CMakeLists.txt
  test/state/blob_schedule.hpp
  test/state/block.cpp
  test/state/transaction.hpp
Due: core

Introduce BlobSchedule (EIP-7840) (#1284)
  test/state/CMakeLists.txt
  test/state/blob_schedule.hpp
  test/state/block.cpp
  test/state/transaction.hpp
Due: core

blob gas changes
  circle.yml
  test/blockchaintest/blockchaintest_runner.cpp
  test/state/block.cpp
  test/state/block.hpp
  test/statetest/statetest_loader.cpp
  test/unittests/statetest_loader_block_info_test.cpp
Due: core, tooling, tests

Modify blob base fee calculation for Osaka (EIP-7918) (#1281)
  circle.yml
  test/blockchaintest/blockchaintest_runner.cpp
  test/state/block.cpp
  test/state/block.hpp
  test/statetest/statetest_loader.cpp
  test/unittests/statetest_loader_block_info_test.cpp
Due: core, tooling, tests

ci: Don't run EOF EEST tests
  circle.yml
Due: none

ci: Don't run EOF EEST tests (#1286)
  circle.yml
Due: none

Enforce max transaction gas limit (EIP-7825)
  circle.yml
  test/state/errors.hpp
  test/state/state.cpp
  test/state/transaction.hpp
  test/unittests/state_transition_txcreate_test.cpp
  test/unittests/state_tx_test.cpp
Due: core, tests

Enforce max transaction gas limit (EIP-7825) (#1285)
  circle.yml
  test/state/errors.hpp
  test/state/state.cpp
  test/state/transaction.hpp
  test/unittests/state_transition_txcreate_test.cpp
  test/unittests/state_tx_test.cpp
Due: core, tests

try templ param ref
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/bn254.hpp
  lib/evmone_precompiles/ecc.hpp
  test/state/precompiles.cpp
Due: core

is_neutral()
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/ecc.hpp
Due: core

Curve and Constant
  lib/evmone_precompiles/bn254.hpp
  lib/evmone_precompiles/ecc.hpp
  test/state/precompiles.cpp
Due: core

from_bytes
  lib/evmone_precompiles/ecc.hpp
  test/state/precompiles.cpp
Due: core

AffinePoint
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/bn254.hpp
  lib/evmone_precompiles/ecc.hpp
  test/state/precompiles.cpp
Due: core

rename ::FE → ::E
  lib/evmone_precompiles/ecc.hpp
Due: core

fix validation
  lib/evmone_precompiles/bn254.cpp
Due: core

fix double montgomery form
  lib/evmone_precompiles/ecc.hpp
Due: core

Element
  lib/evmone_precompiles/ecc.hpp
Due: core

to_bytes
  lib/evmone_precompiles/ecc.hpp
  test/state/precompiles.cpp
Due: core

convert test for bn add
  test/unittests/evmmax_bn254_add_test.cpp
Due: tests

drop bn::add
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/bn254.hpp
  lib/evmone_precompiles/ecc.hpp
Due: core

drop is_neutral
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/ecc.hpp
Due: core

consolidate Curve params
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/bn254.hpp
  lib/evmone_precompiles/ecc.hpp
  lib/evmone_precompiles/pairing/bn254/fields.hpp
  lib/evmone_precompiles/pairing/bn254/utils.hpp
  test/unittests/evmmax_bn254_pairing_test.cpp
Due: core, tests

touch mul
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/bn254.hpp
  lib/evmone_precompiles/ecc.hpp
  test/state/precompiles.cpp
  test/unittests/evmmax_bn254_mul_test.cpp
Due: core, tests

localize B3
  lib/evmone_precompiles/bn254.cpp
Due: core

convert mul
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/bn254.hpp
  test/state/precompiles.cpp
  test/unittests/evmmax_bn254_mul_test.cpp
Due: core, tests

convert mul
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/bn254.hpp
  lib/evmone_precompiles/ecc.hpp
  test/state/precompiles.cpp
  test/unittests/evmmax_bn254_mul_test.cpp
Due: core, tests

convert secp256k1
  lib/evmone_precompiles/secp256k1.cpp
  lib/evmone_precompiles/secp256k1.hpp
  test/state/state.cpp
  test/unittests/evmmax_secp256k1_test.cpp
Due: core, tests

FieldElement
  lib/evmone_precompiles/ecc.hpp
Due: core

better AffinePoint constructor
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/bn254.hpp
  lib/evmone_precompiles/ecc.hpp
  lib/evmone_precompiles/secp256k1.cpp
  test/unittests/evmmax_secp256k1_test.cpp
Due: core, tests

lint
  lib/evmone_precompiles/ecc.hpp
  test/unittests/evmmax_bn254_pairing_test.cpp
Due: core, tests

t8n: Add `--opcode.count` option
  lib/evmone/tracing.cpp
  lib/evmone/tracing.hpp
  lib/evmone/vm.cpp
  test/integration/t8n/CMakeLists.txt
  test/t8n/t8n.cpp
Due: core, tooling, tests

t8n: Add `--opcode.count` option (#1274)
  lib/evmone/tracing.cpp
  lib/evmone/tracing.hpp
  lib/evmone/vm.cpp
  test/integration/t8n/CMakeLists.txt
  test/t8n/t8n.cpp
Due: core, tooling, tests

test: Add precompile proxy snippet
  test/unittests/CMakeLists.txt
  test/unittests/state_transition_snippets_test.cpp
Due: tests

test: Add precompile proxy snippet (#1289)
  test/unittests/CMakeLists.txt
  test/unittests/state_transition_snippets_test.cpp
Due: tests

precompiles: Extract modexp input processing
  test/state/precompiles.cpp
Due: core

precompiles: Provide and benchmark GMP-only modexp
  test/precompiles_bench/precompiles_bench.cpp
  test/state/precompiles.cpp
  test/state/precompiles_gmp.hpp
Due: core, tests

Provide and benchmark GMP-only modexp (#1290)
  test/precompiles_bench/precompiles_bench.cpp
  test/state/precompiles.cpp
  test/state/precompiles_gmp.hpp
Due: core, tests
